$white:#fff;
$black:#000;
$grey:#828282;
$lightgrey:#fcfbfb;
$lavander:#053225;
$lightblack:#222;
$textTransformUpper:uppercase;
$fontStyleItalic:italic;
$fontStyleNormal:normal;
$displayFlex:flex;
$fontFamily:'Sofia Sans Semi Condensed';
